.App {
  text-align: center;
  background-image: url("blog-background.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
}
.header-box {
  margin: 0 15% 0 15%;
}
.App-header {
  background-image: url("header-background.jpeg");
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  font-weight: bold;
  border-radius: 7px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 75px;
  margin: 0px 10px 0px 10px;
}

.inner-header-box {
  display: flex;
  align-items: center;
  width: 100%;
}
.site-name-box {
  text-align: left;
  margin: 0 0 0 3%;
  flex-grow: 1;
}
.color {
  color: rgb(255, 143, 143);
}

.site-name {
  text-decoration: none;
  font-size: calc(15px + 2vmin);
  font-weight: bold;
  color: rgb(255, 143, 143);
  text-shadow: 1px 1px 4px #000000;
}

.link-box {
  margin: 0 20px;
}

.link-style {
  text-decoration: none;
  color: rgb(255, 143, 143);
  text-shadow: 1px 1px 4px #000000;
}
@media screen and (max-width: 920px) {
  body {
    color: red;
  }
  .App-header {
    height: 175px;
    font-size: 20px;
  }
  .inner-header-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .site-name {
    font-size: 25px;
  }
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
